body {
    max-width: 100vw;
}

header {
    background-color: #061aee;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 16px;
    border: 5px solid #2e0b59;
}

main {
    background-color: #FFFFFF;
    color: #183c63;
    margin: 0 auto;
    padding: 16px;

    display: flex;
    flex-direction: column;
}

article {
    display: flex;

    border: 1px solid #2e0b59;
    margin: 16px;
    padding: 16px;

    flex: 1 1 25%;

    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

img {
    max-width: 80px;
    height: 80px;
}

.artigo-autor {
    font-weight: bold;
}